.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweet__worldContainer {
    display:flex;
    flex-direction: row;
    margin-left: 80px;
    color:var(--twitter-color);
    font-style: normal;
}

.tweet__world {
display: flex;
}


.tweet__world:hover{
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out
}

.tweet__publicIcon {
    padding-right: 5px;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}


.tweet__boxFooter{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 70px;
}

.tweet__boxFooter > .MuiSvgIcon-root {
  color:var(--twitter-color);  
  padding: 10px;
  cursor: pointer;
}

.tweet__gifSearch{
    display:flex;
	flex:1;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
	width:250px;
}