.gifPopup__worldContainer {
    display:flex;
    flex-direction: row;
    margin-left: 10px;
    color:var(--twitter-color);
    font-style: normal;
}

.gifPopup__world {
display: flex;
}


.gifPopup__world:hover{
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out
}

.gifPopup__publicIcon {
    padding-right: 5px;
}


.gifPopup__boxFooter > .MuiSvgIcon-root {
  color:var(--twitter-color);  
  padding: 10px;
  cursor: pointer;
}


.gifPopup__boxFooter{
  margin-left: 60px;
}


.gifPopup__gifSearch {    
    border: 1px solid var(--twitter-color);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    width: 475px;
}

.gif__searchContainer input::-webkit-input-placeholder {
  padding-left: 30px;
}


.gif__searchIcon{
  position: relative;
  left:55px;
  top:18px;
  color:var(--twitter-color);
}




.animatedgifContainer{
  display:flex;
  align-items: center;
  padding-bottom: 10px;
}


.gif__searchContainer{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}


.Component-closeButton-2{
  height: 40px;
  color: var(--twitter-color) !important;
}

.Component-closeButton-2:hover{
  background-color:rgba(28, 160, 242, 0.20) !important;
  color: var(--twitter-color);
  transition: color 100ms ease-out
}
